body {
  background-image: url("/img/fields.webp");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right top;
}

.main {
  position: relative;
  min-height: 100vh;
  flex: 1;
}
.main__inner {
  width: 100%;
  margin: auto;
}

.main__section {
  background-color: rgba(42, 42, 42, 0.807);
  color: rgba(255, 219, 202, 0.947);
  position: relative;
  margin: 5% auto;
  height: 50%;
  width: 80%;
  text-align: center;
  min-height: 200px;
}


@media screen and (min-width: 767px) {
  body {
    background-image: url("/img/fields.webp");
    background-repeat: repeat;
    background-size: cover;
    background-position: 0% 0%;
  }
  
  .main__inner{
    display: flex;
    flex-wrap: wrap;
  }

  .main__section {
    height: 30%;
    width: 40%;
  }
}
