.footer {
    background: #222;
    color: white;
    height: 400px;
    width: 100%;

}

.footer__inner {
    margin:auto;
    align-items: center;
    text-align: center
}



.footer__logo {
    margin: auto;
    padding: 0 20px;
}

.footer__info {
    margin: auto;
    max-width: 250px;
}

.footer__copy {
    top: 70px;
    max-width: 20rem;
    left: 35rem;
}

.google-map {
    display: flex;
    margin: auto;
    max-width: 300px;
    top: 108vh;
    left: 78vw;

}