.footer {
    background: #222;
    height: 300px;
    width: 100%;
}

.footer__inner {
    margin: auto;
    color: white;
    display: flex;
}

.footer__company {
    margin: auto;
    margin-left: 20px;
}

.footer__address {
    margin-left: 20px;
}

.footer__insta {
    height: 50px;
}

.footer__face {
    height: 50px;
}

.footer__SNS{
    display: flex;
    margin: 5px 30px;
}

.footer__face {
    margin: 0 20px;
}