.footer {
    background: #222;
    color: white;
    height: 340px;
    width: 100%;
}

.footer__inner {
    margin: auto;
}



.footer__logo {
   position: relative;
   top: 30px;

}

.footer__info {
    position: relative;
    width: 300px;
    top: 40px;
    left:30px;
    
}

.footer__copy {
    text-align: center;
    padding: 20px 0;
}

.google-map {
    max-width: 100%;
    text-align: right;

}