.header {
    background-color: rgb(37, 37, 37);
    padding: 30px ;
    position: sticky;
    top: 0;
    z-index: 10;

}

.header__logo {
    position: absolute;
    top: 5px;
}

.header__list {
    display: flex;
    color: rgb(232, 255, 127);
    position: fixed;
    top: 15px;
    left: 15vw;
}

.header__item {
    margin-right: 35px;
}

.header__logo {
    height: 50px;
}
.header a{
    color: rgb(232, 255, 127);
}
.header__nav .header__subitem{
    display: none;
    position: relative;
    top: 100%;
    left: 0;
}

.header__item:hover .header__subitem{
    display: block;
}

.header__sublist{
    background-color:rgb(37, 37, 37);
}


.search-inner{
    position: absolute;
    margin-left: 85vw;
}
