.header {
    background-color: #2d2d2d;
    position: sticky;
    top: 0;
    display: flex;
    height: 80px;
    z-index: 10;
}

.header__inner {
    width: 100%;
    display: flex;
    align-items: center;

}

.header__logo {
    height: 4rem;

}

.header__nav {
    display: flex;
    margin: 0 auto;
}

.header__nav .header__subitem {
    display: none;
    position: relative;
    top: 100%;
    left: 0;
    
}

.header__item:hover .header__subitem {
    display: block;
}

.header__list {
    display: flex;
    color: rgb(232, 255, 127);
    justify-content: center;
    margin: 0 auto;

}

.header__item {
    margin-right: 30px;
    padding: 0 10px;
    position: relative;
}

.header__sublist {
    background-color: rgb(37, 37, 37);
    position: absolute; 
}

.header a {
    color: rgb(232, 255, 127);
}