.main {
    display: flex;
    min-height: 100vh;
    flex: 1;
    
}

.main__inner {
    background-color: rgba(224, 197, 156, 0.479);
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main__img {
    height: 700px;
    position: relative;
    margin-left: auto;
}

#main__title--monthly {
    font-size: 3rem;
    color: rgb(255, 221, 221);
    text-shadow:
        0 0 10px #ffb0f1,
    
}

.main__section {
    position: relative;
    margin: 0 auto;
    padding: 10px 50px;
    background-color: rgba(124, 160, 118, 0.816);
    max-height: 700px;
}



.main__item{
    color: rgb(0, 68, 39);
}

.main__clock{
position: fixed;
}
