.main {
    display: flex;
    min-height: 100vh;
    flex: 1;
    
}

.main__inner {
    background-color: rgba(126, 126, 126, 0.6);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main__img {
    height: 700px;
    position: relative;
    margin-left: auto;
}

.main__title--monthly {
    font-size: 3rem;
}

.main__section {
    position: relative;
    margin: 10px auto;
    padding: 10px;
}



.main__item{
    color: rgb(0, 68, 39);
}

