*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}