<div class="animation">
        <div class="animation__nav">
            <div class="animation__list">
                <div class="rotate__vegi fall__vegi vegi1"><img src="/img/carrot.webp" alt="人参"></div>
                <div class="rotate__vegi fall__vegi vegi2"><img src="/img/water-melon.webp" alt="スイカ"></div>
                <div class="rotate__vegi fall__vegi vegi3"><img src="/img/cabbege.webp" alt="キャベツ"></div>
                <div class="rotate__vegi fall__vegi vegi4"><img src="/img/pumpkin.webp" alt="カボチャ"></div>
                <div class="rotate__vegi fall__vegi vegi5"><img src="/img/apple.webp" alt="リンゴ"></div>
                <div class="rotate__vegi fall__vegi vegi6"><img src="/img/pear.webp" alt="梨"></div>
            </div>
        </div>
    </div>