<header class="header">
    <div class="header__inner">
        <a href="https://yoshinaga-farm.com"><img class="header__logo" src="img/header__logo.webp" alt="ヘッダーロゴ"></a>

        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">About us
                    <ul class="header__sublist">
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/about-5">自己紹介</a></li>
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/about-3-2">ご案内</a></li>
                    </ul>
                </li>
                <li class="header__item">野菜販売
                    <ul class="header__sublist">
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/general-1">無人販売</a></li>
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/about-3">野菜セット販売</a></li>
                    </ul>
                </li>
                <li class="header__item">ミネラルとビタミン
                    <ul class="header__sublist">
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/%E3%81%BD%E3%81%9F%E3%81%BD%E3%81%9F%E3%82%AF%E3%83%A9%E3%83%96">ミネラルのお話</a>
                        </li>
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/about-3-1">ミネラルウォーター</a></li>
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/about-1">最強の野菜スープ</a></li>
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/%E8%BE%B2%E6%A5%AD%E7%94%A8%E3%83%9F%E3%83%8D%E3%83%A9%E3%83%AB">農業用ミネラル</a>
                        </li>
                    </ul>
                </li>
                <li class="header__item">ご近所マルシェ
                    <ul class="header__sublist">
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/about-1-1">1~10</a></li>
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/11">11~20</a></li>
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/2%E5%88%86%E3%81%A7%E5%81%A5%E5%BA%B7%E3%83%89%E3%83%83%E3%82%AF">2分で健康ドッグ</a>
                        </li>
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/21-30%E7%95%AA">21~30</a>
                        </li>
                    </ul>
                </li>
                <li class="header__item">ナースの相談室
                    <ul class="header__sublist">
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/%E4%BB%A3%E6%9B%BF%E7%99%82%E6%B3%95">代替療法</a>
                        </li>
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/%E6%B2%BB%E7%99%82%E8%B2%BB%E3%82%92%E6%8D%BB%E5%87%BA">治療費を捻出</a>
                        </li>
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/%E7%97%85%E6%B0%97%E3%81%AE%E7%9B%B8%E8%AB%87">病気の相談</a>
                        </li>
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/about-3-3">若返りのご相談</a></li>
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/about-3-4">健康寿命</a></li>
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/about-7">料金について</a></li>
                    </ul>
                </li>
                <li class="header__item">その他
                    <ul class="header__sublist">
                        <li class="header__subitem"><a
                                href="https://yoshinagafarm.wixsite.com/yoshinaga-farm/products">農業サービス</a></li>
                    </ul>
                </li>
                <li class="header__item"><a href="/public/html/contact.html">お問い合わせ</a>
                </li>

            </ul>
        </nav>
    </div>
    <div class="search-inner">
        <input type="search" id="pagefind-search" placeholder="search">
        <div id="pagefind-results"></div>

        <script src="/pagefind/pagefind.min.js" defer></script>
        <script>
            window.addEventListener('DOMContentLoaded', () => {
                Pagefind.start();
            });
        </script>
    </div>
</header>